<div class="d-flex">
    <app-navbar></app-navbar>
    <main class="w-100 p-2">


        <section class="content">

            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Projects</h3>
    
              </div>
              <div class="card-body p-0">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Project ID</th>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>User ID</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Project 1</td>
                        <td>Description 1</td>
                        <td>2023-12-31</td>
                        <td>User 1</td>
                        <td>0</td>
                      </tr>
                      <!-- Add more rows here for your projects -->
                    </tbody>
                  </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
      
          </section>

        </main>

        </div>