<div class="d-flex">
    <app-navbar></app-navbar>
    <main class="w-100 p-2">
        
        <div class="row w-100">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-header bg-info">
                        <h3 class="card-title">New Orders</h3>
                    </div>
                    <div class="card-body">
                        <h3>150</h3>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-header bg-success">
                        <h3 class="card-title">Bounce Rate</h3>
                    </div>
                    <div class="card-body">
                        <h3>53<sup style="font-size: 20px">%</sup></h3>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-header bg-warning">
                        <h3 class="card-title">User Registrations</h3>
                    </div>
                    <div class="card-body">
                        <h3>44</h3>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-header bg-danger">
                        <h3 class="card-title">Unique Visitors</h3>
                    </div>
                    <div class="card-body">
                        <h3>65</h3>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        
        <div class="card my-2 p-2">
            <h2>Projects</h2>
            <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
          </div>
          </div>

          <div class="card my-2 p-2">
            <h2>Projects</h2>
            <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
          </div>
          </div>

    </main>
</div>